<section id="portfolio-strip">
    <div class="container"> 
        <div class="portfolio-strip">
            <div class="work">
                <p>Work</p>
            </div>
            <h2>My Portfolio</h2>
            <p class="portfolio-text">A small gallery of recent projects chosen by me. I've done them all together with amazing people from companies around the globe. It's only a drop in the ocean compared to the entire list.<br>
                Interested to see some more? Visit my work page.
            </p>
            <div class="gallery-container">

                <ul class="mosaic-gallery">
                    <li style="background-image:url('https://picsum.photos/id/1015/700/600')"><img src="https://picsum.photos/id/1015/700/600" /></li>
                    <li style="background-image:url('https://picsum.photos/id/1018/500/300')"><img src="https://picsum.photos/id/1018/500/300" /></li>
                    <li style="background-image:url('https://picsum.photos/id/1036/400/400')"><img src="https://picsum.photos/id/1036/400/400" /></li>
                    <li style="background-image:url('https://picsum.photos/id/1039/500/300')"><img src="https://picsum.photos/id/1039/500/300" /></li>
                    <li style="background-image:url('https://picsum.photos/id/1043/500/300')"><img src="https://picsum.photos/id/1043/500/300" /></li>
                    <li style="background-image:url('https://picsum.photos/id/1045/600/300')"><img src="https://picsum.photos/id/1045/600/300" /></li>
                    <li style="background-image:url('https://picsum.photos/id/1056/500/300')"><img src="https://picsum.photos/id/1056/500/300" /></li>
                </ul>
            </div>
        </div>
    </div>
</section>