<section id="portfolio-strip">
  <div class="container">
    <div class="work">
      <p>Work</p>
    </div>
  </div>
  <div class="gallery-container">
    <a routerLink="/tutor-right">
      <div class="gallery-div">
        <div class="img-div">
          <img src="../../assets/images/tutor-right.jpg" />
          <span class="img-caption">
            <p>Web Development</p>
            <span>
              <h4>Tutor Right</h4>
            </span>
          </span>
        </div>
      </div>
    </a>

    <div class="gallery-div">
      <div class="gallery-inner">
        <a routerLink="club-au">
          <div class="img-div">
            <img src="../../assets/images/club-au.jpg" />
            <span class="img-caption">
              <p>Web Development</p>
              <h4>Club Au</h4>
            </span>
          </div>
        </a>

        <a routerLink="fussy">
          <div class="img-div">
            <img src="../../assets/images/fussy-mockup.jpg" />

            <span class="img-caption">
              <p>Web Design & Development</p>
              <h4>Fussy Kitchen</h4>
            </span>
          </div>
        </a>
      </div>
      <a routerLink="/skinz">
        <div class="img-div">
          <img src="../../assets/images/skinz.png" />
          <span class="img-caption">
            <p>Web Development</p>
            <h4>Skinz</h4>
          </span>
        </div>
      </a>
    </div>
  </div>
  <!-- <div class="view-more-btn">
    <a routerLink="/portfolio">
      <span>View More</span>
    </a>
  </div> -->
</section>
