<section id="portfolio-strip">
  <div class="container">
    <div class="work">
      <p>Work</p>
    </div>
    <!-- <h2>My Portfolio</h2>
    <p class="portfolio-text">
      A small gallery of recent projects chosen by me. I've done them all
      together with amazing people from companies around the globe. It's only a
      drop in the ocean compared to the entire list.<br />
      Interested to see some more? Visit my work page.
    </p> -->
  </div>
  <div class="gallery-container">
    <div class="gallery-div">
      <div class="img-div">
        <a>
          <img src="../../assets/images/port-1-copyright.jpeg" />
          <span class="img-caption">
            <p>Web Development</p>
            <span>
              <h5>Fussy Kitchen</h5>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="gallery-div">
      <div class="gallery-inner">
        <div class="img-div">
          <img src="../../assets/images/port-2-copyright.jpeg" />
          <span class="img-caption">
            <p>Web Development</p>
            <h5>Fussy Kitchen</h5>
          </span>
        </div>
        <div class="img-div">
          <img src="../../assets/images/port-60-copyright.jpeg" />
          <span class="img-caption">
            <p>Web Development</p>
            <h5>Fussy Kitchen</h5>
          </span>
        </div>
      </div>
      <div class="img-div">
        <img src="../../assets/images/post-7-copyright.jpeg" />
        <span class="img-caption">
          <p>Web Development</p>
          <h5>Fussy Kitchen</h5>
        </span>
      </div>
    </div>
  </div>
  <div class="view-more-btn">
    <a routerLink="/portfolio">
      <span>View More</span>
    </a>
  </div>
</section>
