<div id="header">
  <div class="container">
    <div class="header-div">
      <a href="#">
        <img
          src="../../assets/images/dsadiq-logo.png"
          class="logo"
          alt="DSadiq Logo"
        />
      </a>

      <span class="d-flex">
        <a href="#contact-form">
          <div class="contact" (click)="closeMenu()">
            <img
              src="../../assets/images/icon/speech-bubble.png"
              class="speech"
              alt="Speech Icon"
            />
          </div>
        </a>
        <div id="hamburger" (click)="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </span>
    </div>
  </div>

  <div id="nav">
    <div class="container">
      <div class="left-menu">
        <div class="nav-menu">
          <ul>
            <li>
              <a>Home</a>
            </li>
            <li>About</li>
            <a routerLink="/portfolio">
              <li>Work</li>
            </a>
            <a href="#contact-form">
              <li>Contact</li>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="right-menu">
      <h6>Have a project?</h6>
      <h5>myemail@info.co.uk</h5>
    </div>
  </div>
</div>
