#header {

    background-color: #9dcfea;

    .container {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        align-items: flex-end;
        z-index: 11;
        position: relative;

        a {
            text-decoration: none;
            color: unset;
        }
    }

    .header-div {
        display: flex;
        align-items: flex-end;
        .logo {
            max-width: 100px;
            cursor: pointer;

            @media screen and (min-width: 768px) {
                max-width: 150px;
            }
        }

        .menu {
            text-transform: uppercase;
            display: flex;
            align-self: flex-end;
            margin: 0;
            padding-left: 15px;

            @media screen and (min-width: 768px) {
                padding: 0 50px;
            }
        }
    }

    .contact {
        cursor: pointer;
        display: flex;
        .speech {
            max-width: 40px;
        }

        p {
            display: flex;
            align-self: flex-end;
            margin: 0 0 0 9px;
            text-transform: uppercase;
        }
    }
    .expanding-text {
        transition: transform .3s ease-in-out, padding .3s ease-in-out;
        font-weight: 600;
        cursor: pointer;
        position: relative;
        z-index: 11;
    }
    
    .expanding-text:hover {
        transform: scale(1.1);
        padding-left: 5px;
    }

    button {
        background: none;
        border: none;
    }

}

#nav {
    width: 100vw;
    height: 100%;
    position: fixed;
    background-color: grey;
    top: -900px;
    z-index: 10;
    transition:all 700ms linear;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        list-style-type: none;
        font-size: 60px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        opacity: 0;
    }
    li:hover {
        transform: scale(1.1);
        transition: transform .4s ease-in;
    }
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -70%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeOut {
    from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(0, -40%, 0);
	}	
}

#nav.active {
    top: 0;
    
    li {
        opacity: 1;
    }
    li:nth-child(1) {
        animation: fadeIn 3.2s ease-in-out;
    }
    li:nth-child(2) {
        animation: fadeIn 2.9s ease-in-out;
    }
    li:nth-child(3) {
        animation: fadeIn 2.5s ease-in-out;
    }
    li:nth-child(4) {
        animation: fadeIn 2s ease-in-out;
    }
      
}

