#footer {
  background-color: #319fe3;
  padding: 150px 0;

  .contact-div {
    text-align: center;
    color: #ffffff;

    p {
      cursor: pointer;
    }

    a {
      color: #ffffff;
    }
  }
}
