#footer {
  background-color: #319fe3;
  padding: 150px 0;

  .contact-div {
    text-align: center;
    color: #ffffff;

    p {
      cursor: pointer;
      animation: 4s grow ease-in-out infinite;
    }
    @keyframes grow {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }

    a {
      color: #ffffff;
    }
  }
}
