<app-header></app-header>
<div id="skinz">
  <div class="container">
    <div class="header-section">
      <h2>Skinz</h2>
      <a routerLink="/"><span>Home</span></a>
      <span class="splitter"></span>
      <a routerLink="/portfolio"><span>All Projects</span></a>
      <span class="splitter"></span>
      <span>Skinz</span>
    </div>
    <div class="portfolio-section">
      <div class="details">
        <span id="portfolio-info" class="portfolio-info">
          <h5>Web Development</h5>
          <p class="light-text">
            Nam ut rutrum ex, venenatis sollicitudin urna. Aliquam erat
            volutpat. Integer eu ipsum sem. Ut bibendum lacus vestibulum maximus
            suscipit. Quisque vitae nibh iaculis neque blandit euismod.
            Pellentesque dignissim volutpat orci at interdum. In id ipsum
            volutpat.
          </p>
          <span class="light-text">Client:</span>
          <span class="client">Skinz</span>
          <br />
          <span class="light-text">Technologies:</span>
          <span class="client">Wordpress</span>
        </span>
      </div>
      <div class="content">
        <img class="hero-img" src="../../../assets/images/skinz.png" />
        <p class="light-text">
          Nam ut rutrum ex, venenatis sollicitudin urna. Aliquam erat volutpat.
          Integer eu ipsum sem. Ut bibendum lacus vestibulum maximus suscipit.
          Quisque vitae nibh iaculis neque blandit euismod. Pellentesque
          dignissim volutpat orci at interdum. In id ipsum volutpat.
          <br />
          <br />
          Maecenas sit amet purus eget ipsum elementum venenatis. Aenean maximus
          urna magna, quis rutrum mi semper non. Cras rhoncus elit non arcu
          hendrerit rhoncus.
        </p>
        <div class="gallery">
          <img
            class="gallery-img"
            src="../../../assets/images/skinz-mockup.jpg"
          />
          <img
            class="gallery-img"
            src="../../../assets/images/skinz-mockup2.jpg"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="arrow-container">
    <div class="left"></div>
    <a routerLink="/tutor-right">
      <div class="right"></div>
    </a>
  </div>
</div>
<app-footer></app-footer>
