<app-header></app-header>
<div id="skinz">
  <div class="container">
    <div class="header-section">
      <h2>Skinz</h2>
      <a routerLink="/"><span>Home</span></a>
      <span class="splitter"></span>
      <a (click)="goToWork()"><span>All Projects</span></a>
      <span class="splitter"></span>
      <span>Skinz</span>
    </div>
    <div class="portfolio-section">
      <div class="details">
        <span id="portfolio-info" class="portfolio-info">
          <h5>Web Development</h5>
          <p class="light-text">
            Skinz is a Manchester-based company that specialises in vehicle
            enhancement. Roof wraps, vehicle signage, allow/brake calliper
            refurbishments, window and light tinting, dechroming, and vehicle
            wraps are among the services they provide.
          </p>
          <span class="light-text">Client:</span>
          <span class="client">Skinz</span>
          <br />
          <span class="light-text">Technologies:</span>
          <span class="client">Wordpress, ACF, Contact Form 7</span>
        </span>
      </div>
      <div class="content">
        <img class="hero-img" src="../../../assets/images/skinz.png" />
        <p class="light-text">
          I was asked to design a website that would allow users to learn more
          about the services that Skinz offers. It was also critical that users
          be able to get answers to their questions about the services they
          needed quickly.
          <br />
          <br />
          I created a clean, vibrant website using a Figma design file created
          by a web designer. The web design was mobile responsive and user
          friendly which allowed the brand to stand out in a crowded market.
        </p>
        <div class="gallery">
          <img
            class="gallery-img"
            src="../../../assets/images/skinz-mockup.jpg"
          />
          <img
            class="gallery-img"
            src="../../../assets/images/skinz-mockup2.jpg"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="arrow-container">
    <a routerLink="/fussy">
      <div class="left"></div>
    </a>
    <a routerLink="/tutor-right">
      <div class="right"></div>
    </a>
  </div>
</div>
<app-footer></app-footer>
