<app-header></app-header>
<div id="tutor-right">
  <div class="container">
    <div class="header-section">
      <h2>Tutor Right</h2>
      <a routerLink="/"><span>Home</span></a>
      <span class="splitter"></span>
      <a (click)="goToWork()"><span>All Projects</span></a>
      <span class="splitter"></span>
      <span>Tutor Right</span>
    </div>
    <div class="portfolio-section">
      <div class="details">
        <span id="portfolio-info" class="portfolio-info">
          <h5>Web Development</h5>
          <p class="light-text">
            Tutor Right was created in 2016, since then the team have been
            providing industry-leading tuition for students across the North
            West.
          </p>
          <span class="light-text">Client:</span>
          <span class="client">Tutor Right</span>
          <br />
          <span class="light-text">Technologies:</span>
          <span class="client">HTML, CSS, JavaScript, Wordpress, PHP</span>
        </span>
      </div>
      <div class="content">
        <img class="hero-img" src="../../../assets/images/tutor-right.jpg" />
        <p class="light-text">
          The client required to update their website utilising the Wordpress
          content management system. They desired the usage of circles and lines
          throughout the branding.
          <br />
          <br />
          I worked closely with project managers and graphic designers to obtain
          necessary assets and interact with the customer in order to achieve
          the project's requirements.
        </p>
        <div class="gallery">
          <img
            class="gallery-img"
            src="../../../assets/images/tutor-right2.jpg"
          />
          <img
            class="gallery-img"
            src="../../../assets/images/tutor-right3.jpg"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="arrow-container">
    <a routerLink="/skinz">
      <div class="left"></div>
    </a>
    <a routerLink="/club-au">
      <div class="right"></div>
    </a>
  </div>
</div>
<app-footer></app-footer>
