<section id="hero">
  <div class="container">
    <div class="hero-section" id="js-hero">
      <img id="mac" src="../../assets/images/imac.png" alt="mac-screen" />
      <div class="mac-div" id="mac-div">
        <h6>Dami Sadiq</h6>
        <p class="line-1 anim-typewriter">Welcome</p>
        <div class="avatar-div">
          <img class="avatar" src="../../assets/images/avatar.png" />
        </div>
        <div id="mouse" class="mouse"></div>
      </div>
    </div>
    <h3 id="intro">
      I am a Manchester-based Front-End Web Developer. Finding innovative
      solutions for my assignments is something I really enjoy doing.
    </h3>
  </div>
</section>
