<section id="hero">
  <div class="container">
    <!-- <div class="hero-div d-md-flex">
      <div class="info col-md-6">
        <h1>
          <span>H</span>
          <span>i</span>,<br />
          I'm Dami,<br />
          web developer
        </h1>
        <p>Front End Developer / Digital Designer</p>
        <div>
          <button
            class="contact-box btn btn-primary btn-lg"
            (click)="contactMe()"
          >
            Contact Me
          </button>
        </div>
      </div>

      <div class="mobile-div col-md-6">
        <img class="mobile" src="/assets/images/mockup.png" />
      </div>
    </div> -->
    <div class="hero-section" id="js-hero">
      <img
        id="mac"
        src="../../assets/images/imac.png"
        alt="Photo by Tamara Bellis on Unsplash"
      />
      <div class="mac-div" id="mac-div">
        <h6>Dami Sadiq</h6>
        <div class="avatar-div">
          <img class="avatar" src="../../assets/images/avatar.png" />
        </div>
      </div>
    </div>
    <section class="container">
      <h1>Summer In Winter</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </section>

    <!-- JavaScript & jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
    <script src="js/index.js"></script>
  </div>
</section>
