<section id="hero">
<div class="container"> 
    <div class="hero-div">
        <div class="info">
            <h1>
                <span>H</span>
                <span>i</span>,<br>
                I'm Dami,<br>
                web developer
            </h1>
            <p>Front End Developer / Digital Designer</p>
        </div>

        <div>
            <button class="contact-box btn btn-primary btn-lg" (click)="contactMe()">
                Contact Me
            </button>
        </div>
    </div>
</div>
</section>