.contact {
  margin-top: 100px;
  margin-bottom: 100px;

  h2 {
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }

    span {
      display: block;
      color: #319fe3;
    }
  }

  #contact-form {
    position: relative;
  }

  form {
    textarea,
    input,
    button {
      outline: none !important;
      outline-width: 0 !important;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      border-radius: 0;
      border: 1px solid #e3e3e3;
      cursor: pointer;
    }

    textarea,
    input {
      &:focus {
        border-bottom: 2px solid #319fe3;
      }
    }

    textarea {
      resize: none;
      height: 100px;
    }

    .form-error {
      font-size: 12px;
      color: red;
    }

    .form-control.ng-touched.ng-invalid {
      border-bottom: 2px solid red;
    }

    .success {
      opacity: 0;
      justify-content: center;
      display: flex;
      margin-top: 5px;
      transition: 6s;
      position: relative;

      &.active {
        opacity: 1;
      }
    }

    .btn-div {
      .btn {
        background: transparent;
        width: 200px;
        position: relative;
        padding: 15px;
        color: #319fe3;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
        font-weight: 600;
        overflow: hidden;
        border: 2px solid #319fe3;
        text-decoration: none;
        display: flex;
        margin: 0 auto;
        justify-content: center;
      }

      .error {
        color: white;
        background-color: red;
        border: 2px solid red;
        transition: 3s;
      }

      .error-msg {
        opacity: 0;
        justify-content: center;
        display: flex;
        margin-top: 5px;
        transition: 2s;
        position: relative;
        bottom: 25px;
        color: red;

        &.active {
          opacity: 1;
        }
      }

      /* In Progress Button */
      .btn-progress {
        width: 100%;
        color: transparent;
      }

      .btn-fill:after {
        content: "";
        background: #319fe3;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: scaleX(0);
        transform-origin: 0;
        display: block;
        animation: fill 3.2s linear forwards;
      }

      /* Button Complete */
      .btn-complete {
        width: 50px;
        color: #fff;
        pointer-events: none;
        transition: 1.7s;
        display: flex;
        margin: 0 auto;
        border: none;
      }

      .btn-complete:after {
        font-family: FontAwesome;
        content: "";
        // background-image: url("../../assets/images/icons/tick.svg");
        color: #fff;
        height: 100%;
        padding-left: 3px;
        position: absolute;
        top: 0;
        left: -3px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1ecd97;
        background-repeat: no-repeat;
        background-size: cover;
      }

      /* Animation */
      @keyframes fill {
        from {
          transform: scaleX(0);
        }
        to {
          transform: scaleX(1);
        }
      }
    }
  }
}

.map-div {
  display: flex;
  justify-content: flex-end;
}

.form-control {
  height: 50px;
}
