<app-header></app-header>
<div class="contact">
  <div class="container d-md-flex">
    <div id="contact-form" class="contact-form">
      <h3>
        I'm interested in learning more about your project.
        <span> Are you ready to begin?</span>
      </h3>

      <form [formGroup]="contactForm" (submit)="onSubmit($event)">
        <div class="row">
          <div class="col-6 my-2">
            <label>First Name*</label>
            <input
              type="text"
              formControlName="firstName"
              name="firstName"
              class="form-control"
            />
            <span
              class="form-error"
              *ngIf="
                contactForm.get('firstName')?.invalid &&
                contactForm.get('firstName')?.touched &&
                contactForm.get('firstName')?.invalid
              "
            >
              Enter a valid name.
            </span>
          </div>

          <div class="col-6 my-2">
            <label>Last Name*</label>
            <input
              type="text"
              formControlName="lastName"
              name="lastName"
              class="form-control"
            />
            <span
              class="form-error"
              *ngIf="
                contactForm.get('lastName')?.invalid &&
                contactForm.get('lastName')?.touched
              "
            >
              Enter a valid name.
            </span>
          </div>
          <div class="col-12 my-2">
            <label>Email*</label>
            <input
              type="email"
              formControlName="email"
              name="email"
              class="form-control"
            />
            <span
              class="form-error"
              *ngIf="
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
            >
              Enter a valid email.
            </span>
          </div>

          <div class="col-12 my-2">
            <label>Message*</label>
            <textarea
              formControlName="message"
              name="message"
              class="form-control"
            ></textarea>
            <span
              class="form-error"
              *ngIf="
                contactForm.get('message')?.invalid &&
                contactForm.get('message')?.touched
              "
            >
              Enter a valid message.
            </span>
          </div>
          <div class="col-12 my-2 btn-div">
            <button id="submit-btn" type="submit" class="btn">Submit</button>
            <small class="success" id="success"
              >Your message has been sent.</small
            >
            <small class="error-msg" id="error-msg"
              >Error, your message has not been sent.</small
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
