<div class="contact">
  <div class="container d-md-flex">
    <div class="col-md-6">
      <h2>Fill the form to <span>Contact me.</span></h2>

      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-6 my-2">
            <label>First Name*</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
            />
            <span
              class="form-error"
              *ngIf="
                contactForm.get('firstName')?.invalid &&
                contactForm.get('firstName')?.touched &&
                contactForm.get('firstName')?.invalid
              "
            >
              Enter a valid name.
            </span>
          </div>

          <div class="col-6 my-2">
            <label>Last Name*</label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
            />
            <span
              class="form-error"
              *ngIf="
                contactForm.get('lastName')?.invalid &&
                contactForm.get('lastName')?.touched
              "
            >
              Enter a valid name.
            </span>
          </div>
          <div class="col-12 my-2">
            <label>Email*</label>
            <input type="email" formControlName="email" class="form-control" />
            <span
              class="form-error"
              *ngIf="
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
            >
              Enter a valid email.
            </span>
          </div>

          <div class="col-12 my-2">
            <label>Message*</label>
            <textarea formControlName="message" class="form-control"></textarea>
            <span
              class="form-error"
              *ngIf="
                contactForm.get('message')?.invalid &&
                contactForm.get('message')?.touched
              "
            >
              Enter a valid message.
            </span>
          </div>
          <div class="col-12 my-2 btn-div">
            <button id="submit-btn" type="submit" class="btn">Submit</button>
            <small class="success" id="success"
              >Your message has been sent.</small
            >
            <small class="error-msg" id="error-msg"
              >Error, your message has not been sent.</small
            >
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 map-div mt-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75993.25869259457!2d-2.2935022543654613!3d53.47222497484731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a4d4c5226f5db%3A0xd9be143804fe6baa!2sManchester!5e0!3m2!1sen!2suk!4v1647028458143!5m2!1sen!2suk"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</div>
