<app-header></app-header>
<div id="fussy-kitchen">
  <div class="container">
    <div class="header-section">
      <h2>Fussy Kitchen</h2>
      <a routerLink="/"><span>Home</span></a>
      <span class="splitter"></span>
      <a (click)="goToWork()"><span>All Projects</span></a>
      <span class="splitter"></span>
      <span>Fussy Kitchen</span>
    </div>
    <div class="portfolio-section">
      <div class="details">
        <span id="portfolio-info" class="portfolio-info">
          <h5>Web Development</h5>
          <p class="light-text">
            Fussy Kitchen is a Soul cuisine restaurant in Liverpool's city
            centre. Customers have the choice of eating in, picking up, or
            taking their food away from the restaurant.
          </p>
          <span class="light-text">Client:</span>
          <span class="client">Fussy Kitchen</span>
          <br />
          <span class="light-text">Technologies:</span>
          <span class="client">WooCommerce, Wordpress</span>
        </span>
      </div>
      <div class="content">
        <img
          class="hero-img"
          src="../../../assets/images/fussy-kitchen2.jpeg"
        />
        <p class="light-text">
          The client requested that a website be created that would allow
          customers to place orders online. It was my responsibility to design a
          user-friendly website that allowed users to simply place orders on the
          platform.
          <br />
          <br />
          The website is built with Wordpress and Woo commerce, allowing people
          with little to no online experience to simply modify the menu and
          website.
        </p>
        <div class="gallery">
          <img
            class="gallery-img"
            src="../../../assets/images/fussy-mockup.jpg"
          />
          <img
            class="gallery-img"
            src="../../../assets/images/fussy-kitchen3.jpg"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="arrow-container">
    <a routerLink="/club-au">
      <div class="left"></div>
    </a>
    <a routerLink="/skinz">
      <div class="right"></div>
    </a>
  </div>
</div>
<app-footer></app-footer>
