#tech-stack {
  padding: 50px 0;

  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }
  background-color: #319fe3;
  .container {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  .tech-info {
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
      text-align: left;
    }

    .work-btn {
      border: none;
      color: #5a99d4;
      background-color: #ffffff;
      margin-top: 20px;
      padding: 10px 20px;
      transition: 1s;

      &:hover {
        transform: scale(1.1);
      }
    }

    position: relative;
    @media screen and (min-width: 768px) {
      width: 50%;
    }

    p {
      @media screen and (min-width: 768px) {
        width: 70%;
        margin-top: 50px;
        font-size: 18px;
      }
    }
  }

  .tech-slider {
    cursor: pointer;
    position: relative;
    @media screen and (min-width: 768px) {
      width: 50%;
      padding: 0 50px;
    }
  }

  .img-div {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: -webkit-center;
    padding: 20px 0;

    img {
      width: 50px;
      margin: 10px 0;
      transition: 0.6s;
      border-radius: 5px;
      padding: 5px;
      box-shadow: 1px 4px 8px 1px rgb(0 0 0 / 31%);
      background-color: #ffffff;

      @media screen and (min-width: 768px) {
        width: 120px;
        border-radius: 15px;
      }

      &:hover {
        transform: scale(1.1);
        filter: grayscale(1);
      }
    }
    .tech {
      width: 33.333333%;
    }
  }
}
