<section id="tech-stack">
  <div class="container">
    <div class="tech-info" id="tech-info">
      <h2>Web <br />Technologies</h2>
      <p>
        I've worked with a variety of businesses and individuals, which has
        given me the opportunity to explore a wide range of web technologies. To
        build reusable, maintainable, and robust code, I use a variety of
        web frameworks.
      </p>
      <button class="work-btn">Lets Work</button>
    </div>
    <div class="tech-slider" id="tech-slider">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="img-div">
            <div *ngFor="let image of slide.img" class="tech">
              <img src="{{ image }}" />
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</section>
