<section id="usps">
    <div class="container"> 
       <div id="usp-div" class="d-md-flex">
            <div class="col-md-4">
                <div class="usp">
                    <img src="/assets/images/icon/coding-icon.jpg">
                    <h3>Web Development</h3>
                    <p>I use various web technologies to develop attractive websites which converts visitors to customers. I develop creative and responsive website layouts.</p>
                    <button>View More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="usp">
                    <img src="/assets/images/icon/coding-icon.jpg">
                    <h3>Web Development</h3>
                    <p>I use various web technologies to develop attractive websites which converts visitors to customers. I develop creative and responsive website layouts.</p>
                    <button>View More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="usp">
                    <img src="/assets/images/icon/coding-icon.jpg">
                    <h3>Web Development</h3>
                    <p>I use various web technologies to develop attractive websites which converts visitors to customers. I develop creative and responsive website layouts.</p>
                    <button>View More</button>
                </div>
            </div>
        </div>
    </div>
</section>