<app-header></app-header>
<div id="club-au">
  <div class="container">
    <div class="header-section">
      <h2>Club Au</h2>
      <a routerLink="/"><span>Home</span></a>
      <span class="splitter"></span>
      <a (click)="goToWork()"><span>All Projects</span></a>
      <span class="splitter"></span>
      <span>Club Au</span>
    </div>
    <div class="portfolio-section">
      <div class="details">
        <span id="portfolio-info" class="portfolio-info">
          <h5>Web Development</h5>
          <p class="light-text">
            Club Au is a gold-for-cash website. After doing A/B tests, I
            collaborated closely with a UX designer to construct web components
            and update the website to fulfil the demand.
          </p>
          <span class="light-text">Client:</span>
          <span class="client">Club Au</span>
          <br />
          <span class="light-text">Technologies:</span>
          <span class="client">HTML, Scss, JavaScript, PHP</span>
        </span>
      </div>
      <div class="content">
        <img class="hero-img" src="../../../assets/images/club-au.jpg" />
        <p class="light-text">
          Club Au offers fast cash for gold in 3 simple steps. The customers
          orders a free gold seller's pack online. They must then send their
          jewellery via the pre-paid envelope. Once the pack is recieved it
          processed within 24 hours and the customer is sent an email and SMS
          with an offer.
          <br />
          <br />
          The idea of trust was a significant component the customer wished to
          have on the website. The website was integrated with live trust pilot
          reviews.
        </p>
        <div class="gallery">
          <img class="gallery-img" src="../../../assets/images/club-au1.jpg" />
          <img class="gallery-img" src="../../../assets/images/club-au2.jpeg" />
        </div>
      </div>
    </div>
  </div>
  <div class="arrow-container">
    <a routerLink="/tutor-right">
      <div class="left"></div>
    </a>
    <a routerLink="/fussy">
      <div class="right"></div>
    </a>
  </div>
</div>
<app-footer></app-footer>
