/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Louis George Café Light";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/louis-george-cafe.light.woff") format("woff");
}

@font-face {
  font-family: "Louis George Café Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/louis-george-cafe.regular.woff") format("woff");
}

@font-face {
  font-family: "Louis George Café Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/louis-george-cafe.bold.woff") format("woff");
}

html {
  overflow-x: hidden;
}

body {
  .container {
    padding: 0 30px;
  }

  a {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Louis George Café Bold";
  }

  h2 {
    font-size: 36px;
    @media screen and (min-width: 768px) {
      font-size: 60px;
    }
  }

  h3 {
    font-size: 30px;
    @media screen and (min-width: 768px) {
      font-size: 36px;
    }
  }

  h4 {
    font-size: 30px;
  }

  .btn {
    padding: 10px 70px;
    background: linear-gradient(to right, #039803 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    color: #039803;
    border: 1px solid #039803;
  }

  .btn:hover {
    background-position: left bottom;
    color: white;
  }

  /***** Slide Right *****/
  .slide-right {
    // animation: 1.4s fade-in ease-in;
    @media screen and (min-width: 768px) {
      animation: 1.4s slide-right ease-in;
    }
  }
  @keyframes slide-right {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }

  .slide-left {
    animation: 1.4s fade-in ease-in;
    @media screen and (min-width: 768px) {
      animation: 1.4s slide-left ease-in;
    }
  }
  @keyframes slide-left {
    from {
      right: -100%;
    }
    to {
      right: 0%;
    }
  }

  .slide-up {
    animation: 1.4s fade-in ease-in;
    @media screen and (min-width: 768px) {
      animation: 1.4s slide-up ease-in;
    }
  }
  @keyframes slide-up {
    from {
      bottom: -500px;
    }
    to {
      bottom: 0;
    }
  }

  .fade-in {
    animation: 1.4s fade-in ease-in;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.slick-slider {
  width: 88%;
  margin: auto;
}

body .slick-prev,
body .slick-next {
  height: 45px;
  width: 40px;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .slick-prev {
    left: -50px !important;
  }

  .slick-next {
    right: -50px !important;
  }
}
